<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layouts</title>
	<meta name="description" content="A really cool site!">
	<link rel="stylesheet" type="text/css" href="css_3.css">
</head>
<body>
	<div class="container">
		<div id="box-1">Box-1
		</div>
		<div id="box-2">Box-2
		</div>
		<div id="box-3">Box-3
		</div>
		<div class="clear">
		</div>
	</div>
	<div class="container">
		<div id="box-11">box-11
		</div>
		<div id="box-22">box-22
		</div>
		<div id="box-33">box-33
		</div>
	</div>
</body>
</html>