* {
  padding: 0%;
  margin: 0%;
  font-family: "helvetica neue", arial, verdana, sans-serif;
}

#nav-menu{
  list-style-type: none; /*This gets rid of the bullets.*/
}
#nav-menu li {
  display: inline;
}