/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin:5px;
    padding: 5px;
}
#header{
    min-height: 150px;
    background-color: green;
    margin: 5px;
    padding: 5px;

}
#navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin: 5px;
    padding: 5px;
    display: inline-block;

}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    vertical-align: top;

}
.subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
#advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    margin: 5px;
    padding: 5px;
}

